body {
  font-family: $text;

  .title {
    font-size: 2.7em;
    font-family: $title;
    text-transform: uppercase;
  }

  .subtitle-section {
    font-size: 2.5em;
    color: $grey;
  }

  .flash-zone {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100vw;
  }

  .underline-title {
    height: 7px;
    width: 5vw;
    position: relative;
    left: 38vw;
    margin-top: 10px;
  }

  .margin-underline {
    margin-left: 10vw;
  }

  .invisible-btn {
    background-color: $white;
    border: none;
  }

  .timeline-text {
    color: $black;
  }

  .invisible {
    visibility: hidden;
  }

  .custom-button {
    color: $white;
    height: 60px;
    cursor: pointer;
    box-shadow:0px 0px 0px 1px $white inset;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 2;

    &:hover {
      letter-spacing: 0.13rem;
      color: $white;
    }
  }

  .custom-button:after {
    background: $white;
    border: 0px solid $black;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
  }

  .custom-button:hover:after {
    background: $white;
    border: 20px solid $white;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}

#map{
  height:400px;
  z-index: 2;
}