$title: 'Patua One', cursive;;
$text: 'Playfair Display', serif;

$white: #FFF;
$black: #000;
$blue: #28B7E3;
$orange: #FF8C00;
$yellow: #F4D03F;
$purple: #8E44AD;
$green: #2ECC71;
$grey: #ABB2B9;