<div class="text-center mt-5" id="contact">
    <h2 class="title yellow">
        {% trans %}
            contacts
        {% endtrans %}
    </h2>
    <h3 class="subtitle-section">
        {% trans %}
            contact.start
        {% endtrans %}
    </h3>
    <div class="margin-underline">
        <div class="underline-title line-yellow"></div>
    </div>
</div>

<div class="contact-field">

    {% include 'include/contact_form.html.twig' %}

    {% include 'include/socials.html.twig' %}

</div>

{% include 'include/google_map.html.twig' %}