<div class="my-5">
    <h3 class="base-text-blue">
        <i class="fas fa-chevron-right blue"></i>
        {% trans %}
            social.find.me
        {% endtrans %}
    </h3>
</div>

<div class="social-buttons">
    <a href="https://www.linkedin.com/in/benjaminmanguet/"
       class="social-buttons__button social-button social-button--linkedin"
       aria-label="LinkedIn"
       target="_blank"
    >
            <span class="social-button__inner">
                <i class="fab fa-linkedin-in"></i>
            </span>
    </a>
    <a href="https://github.com/Manguet"
       class="social-buttons__button social-button social-button--github"
       aria-label="GitHub"
       target="_blank"
    >
        <span class="social-button__inner">
             <i class="fab fa-github"></i>
        </span>
    </a>
</div>