
.green {
  color: $green;
}

.green-title {
  color: $black;
}

.green-subtitle {
  color: $green;
}

.text-green {
  color: $black
}

.base-text-green {
  color: $black;
}

.green-terminal {
  color: $green;
}

.background-green {
  background-color: $green;
}

.background-page-green {
  background-color: $white;
}

.line-green {
  background-color: $green;
}

.green-icon {
  color: $green;
}

.replace-green:hover {
  color: $green !important;
}

.replace-green-icon:hover {
  color: $green !important;
}

.hover-menu-green:hover {
  color: $white !important;
}

.button-green {
  background-color: $green;
  color: $white !important;
}

.border-green {
  border: 4px solid $green;
}

.shadow-green {
  border-right: 1px solid $black;
  box-shadow: 22px 0px 23px -10px $black;
}

.green-parallax {
  color: $green;
  text-shadow: 0px 0px 2px $black;
}