.yellow {
  color: $yellow;
}

.yellow-title {
  color: $black;
}

.yellow-subtitle {
  color: $yellow;
}

.text-yellow {
  color: $black;
}

.base-text-yellow {
  color: $black;
}

.yellow-terminal {
  color: $yellow;
}

.background-yellow {
  background-color: $yellow;
}

.background-page-yellow {
  background-color: $white;
}

.line-yellow {
  background-color: $yellow;
}

.yellow-icon {
  color: $yellow;
}

.replace-yellow:hover {
  color: $yellow !important;
}

.replace-yellow-icon:hover {
  color: $yellow !important;
}

.hover-menu-yellow:hover {
  color: $white !important;
}

.button-yellow {
  background-color: $yellow;
  color: $white !important;
}

.border-yellow {
  border: 4px solid $yellow;
}

.shadow-yellow {
  border-right: 1px solid $black;
  box-shadow: 22px 0px 23px -10px $black;
}

.yellow-parallax {
  color: $yellow;
  text-shadow: 0px 0px 2px $black;
}