{% extends 'base.html.twig' %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show flash-zone">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
    {% endfor %}

    {% include 'include/tool.html.twig' %}

    {% include 'include/header.html.twig' %}
    {% include 'include/header-small.html.twig' %}

    {% include 'include/carousel.html.twig' %}

    {% include 'include/cv.html.twig' %}

    <div class="parallax parallax--1">
        <div class="paralax-text yellow-parallax">
            < {% trans %}
                same.in
            {% endtrans %}
            <span class="white">
                {% trans %}
                    reconversion
                {% endtrans %}
            </span>
            {% trans %}
                we.can
            {% endtrans %}
            ! />
            <div class="underline-title background-yellow"></div>
        </div>
    </div>

    {% include 'include/realisations.html.twig' %}

    <div class="parallax parallax--2">
        <div class="paralax-text yellow-parallax">
            <
            {% trans %}
                work.with
            {% endtrans %}
            <span class="white">
                {% trans %}
                    passion
                {% endtrans %}
            </span>
            ! />
            <div class="underline-title background-yellow"></div>
        </div>
    </div>

    {% include 'include/temoignages.html.twig' %}

    <div class="parallax parallax--3">
        <div class="paralax-text yellow-parallax">
            <
            {% trans %}
                research
            {% endtrans %}
            <span class="white">
                {% trans %}
                    statisfaction
                {% endtrans %}
            </span>
            ! />
            <div class="underline-title background-yellow"></div>
        </div>
    </div>

    {% include 'include/contact.html.twig' %}

    {% include 'include/footer.html.twig' %}

    <div class="to-top">
        <a href="#header" class="replace-yellow yellow">
            <i class="fas fa-chevron-circle-up"></i>
        </a>
    </div>

{% endblock %}
